html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

#nav-bar {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #e8fdff;
  background-color: #00a087;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
  height: 80px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar div {
  display: flex;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  line-height: 2.5;
  padding-left: 10px;
  /*position: absolute;*/
  /*vertical-align: middle;*/
}

#nav-bar button {
  color: #00a087;
  background-color: azure;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 5px;
}

#nav-bar button:hover{
  color: black;
  background-color: white;
}

@media only screen and (max-width: 415px) {
  button {
    font-size: 20px;
  }
}

/*@media (min-width: 415px) and (max-width: 760px) {
  button {
    font-size: 30px;
  }
}
*/
