html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

#nav-bar {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #e8fdff;
  background-color: #00a087;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2em;
  height: 80px;
  position: fixed;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  position: absolute;
  vertical-align: middle;
}