html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.all-tweets {
  background-color: white;
  margin: 30px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
}

.tweet {
  border: 0.75px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
}
.tweet .profile {
  width: 40px;
  height: 40px;
}

.tweet .header {
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 0;
  border-radius: 5px;
  /*border: solid grey;*/
  text-align: left;
  padding: 10px;
  opacity: 0.5;
}

.tweet p {
  padding: 20px;
}

.tweet .header p {
  margin: 0;
  display: inline-block;
  float: right;
  vertical-align: center;
}

.tweet h2 {
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.tweet .footer {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.25px solid lightgrey;
  text-align: left;
}

.tweet .footer p {
  padding: 10px;
  margin: 0;
}

.icon {
  display: none;
  width: 20px;
  height: 20px;
}

.tweet:hover .icon {
  display: inline-block;
  color: #00a087;
  /*float: right;*/
  /*clear: left;*/
  width: 20px;
  height: 20px;
}

.tweet:hover .icon p {
  font-family: 'Roboto Condensed', sans-serif;
}
.tweet:hover .header{
  opacity: 1.5;
}
